<div class="">
<div class="hero">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Improving</h1>
      <p class="py-6">
    Improve your life! Build something to help you with your daily life tasks, hobbies, and more.
      </p>
<%#      <button class="btn btn-primary">Get started</button> #%>

    </div>
  </div>
</div>
<!-- 
TODO: put examples of projects,  put dates, the formal ysws parts, what this really is 
-->
</div>